* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 #1a1a1a;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}


body {
  background: #0f172a;
  color: white;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

section {
  scroll-margin-top: 80px;
}
