.about-section {
  padding: 35px 10%;
  background: #020617;
  color: #ffffff;
}

.about-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 28px;
}

.about-header h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
}

.about-line {
  width: 140px;
  height: 2.5px;
  background: linear-gradient(
    to right,
    #38bdf8,
    rgba(56, 189, 248, 0)
  );
}

.about-card {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 20px;

  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.08);
}

.about-image img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 14px;
}

.about-content h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 18px;
}

.about-subtitle {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;

  font-size: 1.1rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  opacity: 0.8;
}

.subtitle-line {
  width: 180px;
  height: 2px;
  background: linear-gradient(
    to right,
    #38bdf8,
    rgba(56, 189, 248, 0)
  );
}

.about-text {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.85;
  margin-bottom: 30px;
  margin-right: 18px;
  text-align: justify;
}

.about-button {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.04em;

  padding: 12px 28px;
  border-radius: 999px;
  border: none;

  background: linear-gradient(
    135deg,
    #38bdf8,
    #0ea5e9
  );
  color: #020617;

  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.about-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.35);
}

@media (max-width: 900px) {
  .about-section {
    padding: 72px 6%;
  }

  .about-card {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 25px;
  }

  .about-image img {
    width: 100%;
    height: 80%;
  }

  .about-content h3 {
    font-size: 2rem;
  }

  .about-subtitle {
    font-size: 0.85rem;
  }

  .subtitle-line {
    width: 120px;
  }

  .about-text {
    text-align: left; /* penting untuk layar kecil */
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .about-section {
    padding: 1px 7%;
  }

  .about-header {
    gap: 12px;
    margin-bottom: 20px;
  }

  .about-header h2 {
    font-size: 1.8rem;
  }

  .about-line {
    width: 90px;
  }

  .about-content h3 {
    font-size: 1.6rem;
    line-height: 1.25;
  }

  .about-subtitle {
    gap: 8px;
    letter-spacing: 0.06em;
  }

  .subtitle-line {
    width: 70px;
  }

  .about-text {
    font-size: 0.95rem;
    line-height: 1.55;
  }

  .about-button {
    width: 100%;
    text-align: center;
    padding: 14px 0;
  }
}


